@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Постройка</title>

    <link href="../../Content/Site.css" rel="stylesheet" />

    @Scripts.Render("~/scripts/jquery-3.4.1.js")
    @Scripts.Render("~/scripts/Chart.js")

    <script type="text/javascript">

        var chart;

        window.onload = function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        borderColor: 'rgba(54, 99, 192, 0.6)',
                        fill: false,
                        data: []
                    }]
                },
                options: {
                    legend: {
                        display: false
                    }
                }
            });
        }

        function validateForm() {
            let names = ["a", "b", "c", "Step", "RangeFrom", "RangeTo"];
            var x;
            let i;
            var request = true;

            for (i = 0; i < names.length; i++) {
                document.forms["myForm"][names[i]].style.border = null;
            }

            document.getElementById("demo").innerHTML = "";
            for (i = 0; i < names.length; i++) {
                x = document.forms["myForm"][names[i]].value;
                if (x == "") {
                    document.getElementById("demo").innerHTML = "The field cannot be empty!";
                    document.forms["myForm"][names[i]].style.border = "2px solid red";
                    request = false;
                    break;
                } else if (!isNaN(x)) {
                    if (!Number.isInteger(Number(x))) {
                        document.getElementById("demo").innerHTML = "Invalid number entry. For example 2,9 (not 2.9)";
                        document.forms["myForm"][names[i]].style.border = "2px solid red";
                        request = false;
                        break;
                    } else {
                        document.forms["myForm"][names[i]].value = Number(x).toFixed();
                    }
                } else {
                    var myRe = new RegExp("^-?[0-9]*[,][0-9]*$");
                    var myArray = myRe.exec(x);
                    if (!myArray) {
                        document.getElementById("demo").innerHTML = "The field cannot be string!";
                        document.forms["myForm"][names[i]].style.border = "2px solid red";
                        request = false;
                        break;
                    } else {
                        if (names[i] == "a" || names[i] == "b" || names[i] == "c") {
                            document.getElementById("demo").innerHTML = "There should be Integer number, not Float";
                            document.forms["myForm"][names[i]].style.border = "2px solid red";
                            request = false;
                            break;
                        }
                    }
                }
            }

            if (request) {
                var myRe = new RegExp("^-?[0-9]*[,][0-9]*$");

                if (Number(document.forms["myForm"]["Step"].value.replace(",", ".")) <= 0) {
                    document.getElementById("demo").innerHTML = "The step must be bigger than 0!";
                    document.forms["myForm"]["Step"].style.border = "2px solid red";
                    request = false;
                }

                if (Number(document.forms["myForm"]["RangeFrom"].value.replace(",", ".")) > Number(document.forms["myForm"]["RangeTo"].value.replace(",", "."))) {
                    document.getElementById("demo").innerHTML = "Field From must be less than field To!";
                    document.forms["myForm"]["RangeFrom"].style.border = "2px solid red";
                    document.forms["myForm"]["RangeTo"].style.border = "2px solid red";
                    request = false;
                }
            }

            if (request) {
                $.post("/Home/Index",
                    { a: $("#txtA").val(), b: $("#txtB").val(), c: $("#txtC").val(), RangeFrom: $("#txtRangeFrom").val(), RangeTo: $("#txtRangeTo").val(), Step: $("#txtStep").val() },
                    function (response) {
                        console.log(response)
                        //////////////
                        if (typeof response == "object") {
                            chart.data.labels = [];
                            chart.data.datasets[0].data = [];
                            chart.update();

                            for (let i = 0; i < response.length; i++) {
                                chart.data.labels[i] = response[i].PointX;
                                chart.data.datasets[0].data[i] = response[i].PointY;
                            }
                            chart.update();
                        }
                        else if (typeof response == "string") {
                            document.getElementById("demo").innerHTML = response;
                        }
                    }
                );
            }

            return false;
        }
    </script>

</head>
<body>
    <h1>Graphic:</h1>
    <div class="main">
        <canvas id="myChart"></canvas>

        <div class="center">
            <form name="myForm" onsubmit="return validateForm()">
                <table>
                    <tr>
                        <td class="first_column">
                            <span>
                                Function:
                            </span>
                        </td>
                        <td>
                            <span>
                                y =
                            </span>
                            <input type="text" id="txtA" name="a" placeholder="A" />
                            <span>
                                x^2+
                            </span>
                            <input type="text" id="txtB" name="b" placeholder="B" />
                            <span>
                                x+
                            </span>
                            <input type="text" id="txtC" name="c" placeholder="C" />
                        </td>
                    </tr>
                    <tr>
                        <td class="first_column">
                            <span>
                                Step:
                            </span>
                        </td>
                        <td>
                            <input type="text" id="txtStep" name="Step" />
                        </td>
                    </tr>
                    <tr>
                        <td class="first_column">
                            <span>
                                From:

                            </span>
                        </td>
                        <td>
                            <input type="text" id="txtRangeFrom" name="RangeFrom" />
                            <span>
                                to
                            </span>
                            <input type="text" id="txtRangeTo" name="RangeTo" />
                        </td>
                    </tr>
                </table>
                <input id="btnGet" type="submit" value="Plot" />
            </form>
        </div>
    </div>
    <p id="demo"></p>
</body>
</html>
